table {
  position: relative;
  top: 100px;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid black;
}

th,
td {
  padding: 10px;
}

.but2 {
  position: relative;
  padding: 10px;
  margin: 10px;
  background-color: aqua;
  border-style: dashed;
}
